main {
  width: 100vw;
  display: flex;
}

.leftSec {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.rightSec {
  width: 80%;
  background-color: #f5f5f5;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
