.canvasBtn {
  border-radius: 9px;
  border: none;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 38px;
  width: 150px;
  background-color: #003585;
  margin-bottom: 20px;
}

.allButton {
  border-radius: 9px;
  border: none;
  color: white;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 42px;
  width: 200px;
  background-color: #003585;
}

#lineInCanvas {
  border-top: 1px solid black;
  margin-bottom: 20px;
}

.products {
  width: 95%;
}

.productsIn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#searchInProds {
  margin-top: 70px;
}

#searchInProds input {
  width: 340px;
  height: 35px;
  padding-left: 20px; 
  border-radius: 10px;
  border: 1px solid rgb(167, 167, 167);
}