.sideBar {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.clicked {
  color: white;
  background-color: #003585;
}

.menuBtn {
  display: flex;
  justify-content: space-evenly;
  border: none;
  margin-top: 30px;
  width: 188px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
